button{
    width: 100px;
    color: #716D6D;
    height: 25px;
    border-radius: 2px;
    background-color: rgba(226, 223, 223, 0.72);
    border-width: 0;
    border: 1px solid #D0D0D0;
}

div{
    border-radius: 2px;
}
body {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#action-buttons {
    position: relative;
    z-index: 10;
    margin: 5px;
}

.bordered {
    border: 1px solid #ECE7E7;
}

#console{
    height: 100px;
    overflow: scroll;
    color: grey;
}

#error-output{
    color: darkred;
}

.bg-grey{
    background-color: #EFEFEF;
}

.text-right-aligned{
    text-align: right;
}

.CodeMirror-gutter{
    background-color: #EFEFEF;
}

.grey-text{
    color: #666666;
}

#loader{
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 10%;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-color: rgba(117, 117, 117, 0.25);
}

#loader-image{
    height: 200px;
    width: 200px;

    margin-left: auto;
    margin-right: auto;

    background: url(../images/chakra.gif) no-repeat center center ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.strip{
    padding: 5px
}